<% @invoices.each do |i| %>
    <tr id="invoice-<%= i.id %>">
        <td><%= i.client.full_name %></td>
        <td class="hide-table-col"><%= i.client.address %></td>
        <td><%= i.created_at.strftime("%m-%d-%Y") %></td>
        <td class="hide-table-col">$ <%= i.current_total %></td>
        <td class="center-col"><%= link_to '<i class="far fa-eye"></i>'.html_safe, invoice_path(i), class: "btn btn-sm btn-dark" %></td>
        <td class="hide-table-col"><%= link_to 'Archive', invoice_path(i), class: "btn btn-sm btn-warning", remote: true, method: :patch, data: { confirm: 'Are you sure you want to archive this record?' } %></td>
        <td class="hide-table-col"><%= link_to 'X', invoice_path(i),
              method: :delete, remote:true,
              data: { confirm: 'Are you sure? This cannot be reversed.' }, class: "btn btn-sm btn-danger" %></td>
    </tr>
<% end %>