<div class="invoice-header container mt-3 bg-white p-4 p-md-5 rounded-top border border-bottom-0 border-bottom-md-0 border-secondary ">
    <div class="row justify-content-between">
        <div class="invoice-client-info col-md-9">
            <h3><%= @invoice.client.full_name %></h3>
            <%= @invoice.client.address%><br>
            <%= number_to_phone(@invoice.client.home_phone, area_code: true) %><br>
            <%= @invoice.client.email %>
        </div>
        <div class="col-md-3 mt-4">
            <p><strong>Invoice #: </strong><%= @invoice.id %><br>
            <strong>Date: </strong><%= @invoice.created_at.strftime("%m-%d-%Y") %></p>
        </div>
    </div>
    <div class="mt-md-3">
        <p class="mb-md-0"><em><%= @invoice.master_desc %></em></p>
    </div>
</div>
<div class="bg-white">
    <div class="description-header">
        <h4>Description</h4>
    </div>
    <div class="invoice-date-master col-md-10 m-md-auto">
        <%= render partial: 'invoice_dates/invoice_date', collection: @invoice_dates %>
        <div id="ender_buttons" class="row no-gutter mb-3 mt-3 mx-auto">
            <%= invoice_enders %>
        </div>
    </div>
</div>