<%= form_for @user, remote: true do |form| %>
    <div class="form-group">
        <label>First Name: </label>
        <%= form.text_field :first_name, placeholder: "First Name", class: 'form-control form-control-sm' %>
    </div>
    <div class="form-group">
        <label>Last Name: </label>
        <%= form.text_field :last_name, placeholder: "First Name", class: 'form-control form-control-sm' %>
    </div>
    <div class="form-group">
        <label>Email: </label>
        <%= form.text_field :email, placeholder: "Email", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group">
        <label>Primary Phone: </label>
        <%= form.telephone_field :phone_number, placeholder: "Primary Phone", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group">
        <label>Username: </label>
        <%= form.text_field :username, placeholder: "Username", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group">
        <label>Address View: </label>
        <label class="switch">
        <%= form.check_box :address_view, { checked: @user.address_view }  %>
        <span class="slider round"></span>
        </label>
    </div>
    <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-dark" %>
<% end %>