<div id="new-user-client-card">
    <h2>New User</h2>
    <%= form_for @user, local: true do |form| %>
        <div class="row form-group">
            <div class="col">
                <label>First Name: </label>
                <%= form.text_field :first_name, placeholder: "First Name", class: 'form-control form-control-lg' %>
            </div>
            <div class="col">
                <label>Last Name: </label>
                <%= form.text_field :last_name, placeholder: "First Name", class: 'form-control form-control-lg' %>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Email: </label>
                <%= form.email_field :email, placeholder: "Email", class: 'form-control form-control-lg' %>
            </div>
            <div class="col">
                <label>Username: </label>
                <%= form.text_field :username, placeholder: "Username", class: 'form-control form-control-lg' %>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Access Level: </label>
                <%= form.select(:user_access, ['Worker', 'Foreman', 'Admin'], {}, {class: "form-control form-control-lg"}) %>
            </div>
            <div class="col">
                <label>Temp Password: </label>
                <%= form.text_field :password, placeholder: "Password", class: 'form-control form-control-lg' %>
            </div>
        </div>
        <div class="form-group">
            <label>Hourly Rate</label>
            <%= form.number_field :hourly_rate, placeholder: 0, class: "form-control form-control-lg" %>
        </div>
        <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-dark" %>
    <% end %>
</div>