<table id="datatable" data-turbolinks="false" class="display">
    <thead>
        <tr class="table-header">
            <th>First Name</th>
            <th>Last Name</th>
            <th class="center-col hide-table-col">Email</th>
            <th class="center-col hide-table-col">Address</th>
            <th></th>
            <th class="hide-table-col"></th>
        </tr>
    </thead>
    <tbody>
        <% clients.each do |c| %>
            <tr id="client-<%= c.id %>">
                <td><%= c.first_name %></td>
                <td><%= c.last_name %></td>
                <td class="hide-table-col"><%= c.email %></td>
                <td class="hide-table-col"><%= c.address %></td>
                <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, client_path(c), class: "btn btn-sm btn-dark" %></td>
                <td class="hide-table-col"><%= link_to 'X', client_path(c),
                    method: :delete, remote:true,
                    data: { confirm: 'Are you sure? This cannot be reversed.' }, class: "btn btn-sm btn-danger" %></td>
            </tr>
        <% end %>
    </tbody>
</table>

