<h2><%= @client.full_name %></h2>
<p><strong>Email:</strong> <%= @client.email %></p>
<p><strong>Address:</strong> <%= @client.address %></p>
<p><strong>Home Phone:</strong> <%= number_to_phone(@client.home_phone, area_code: true) %></p>
<p><strong>Cell Phone:</strong> <%= number_to_phone(@client.cell_phone, area_code: true) %></p>
<%= link_to 'Edit', edit_client_path(@client), remote:true, class: "btn btn-sm btn-success" %>
<%= link_to 'Delete', client_path(@client),
            method: :delete, remote: true,
            data: { confirm: 'Are you sure? This cannot be reversed.' }, class: 'btn btn-sm btn-danger' %>