<% @clients.each do |c| %>
    <tr id="client-<%= c.id %>">
        <td><%= c.first_name %></td>
        <td><%= c.last_name %></td>
        <td class="hide-table-col"><%= c.email %></td>
        <td class="hide-table-col"><%= c.address %></td>
        <td><%= link_to 'View', client_path(c), class: "btn btn-sm btn-dark" %></td>
        <td class="hide-table-col"><%= link_to 'X', client_path(c),
              method: :delete, remote:true,
              data: { confirm: 'Are you sure? This cannot be reversed.' }, class: "btn btn-sm btn-danger" %></td>
    </tr>
<% end %>