<table id="datatable" data-turbolinks="false" class="display">
    <thead>
        <th class="hide-table-col">Invoice #</th>
        <th>Created</th>
        <th>Current Total</th>
        <th class="center-col">Options</th>
    </thead>
    <tbody>
        <% client.invoices.each do |i| %>
            <tr id="invoice-<%= i.id %>">
                <td class="hide-table-col pl-md-4"><%= i.id %></td>
                <td><%= i.created_at.strftime("%m-%d-%Y") %></td>
                <td>$ <%= i.current_total %></td>
                <td class="center-col"><%= link_to '<i class="far fa-eye"></i>'.html_safe, invoice_path(i), class: "btn btn-sm btn-dark" %> | 
                <span class="hide-table-col"><%= link_to ' X ', invoice_path(i),
                    method: :delete, remote:true,
                    data: { confirm: 'Are you sure? This cannot be reversed.' }, class: "btn btn-sm btn-danger" %></span></td>
            </tr>
        <% end %>
    <tbody>
</table>
            