<div id="new-user-client-card" class="mx-auto mt-3">
    <h2>New Client</h2>
    <%= form_for @client, local: true do |form| %>
        
        <%= form_group_for form, :first_name, label: false  do %>
            <label>First Name: </label>
            <%= form.text_field :first_name, placeholder: "First Name", class: 'form-control form-control-sm' %>
        <% end %>

        <%= form_group_for form, :last_name, label: false do %>
            <label>Last Name: </label>
            <%= form.text_field :last_name, placeholder: "Last Name", class: 'form-control form-control-sm' %>
        <% end %>

        <%= form_group_for form, :address, label: false do %>
            <label>Address: </label>
            <%= form.text_field :address, placeholder: "Address", class: "form-control form-control-sm" %>
        <% end %>

        <div class="row form-group">
            <div class="col">
                <label>Home Phone:</label>
                <%= form.text_field :home_phone, placeholder: "Home Phone", class: 'form-control form-control-sm' %>
            </div>
            <div class="col">
                <label>Cell Phone:</label>
                <%= form.text_field :cell_phone, placeholder: "Cell Phone", class: 'form-control form-control-sm' %>
            </div>
        </div>
        <div class="form-group">
            <label>Email: </label>
            <%= form.email_field :email, placeholder: "Email", class: "form-control form-control-sm" %>
        </div>
        <div class="form-group">
            <label>House Photo:</label>
            <%= form.file_field :house_pic %>
        </div>
        <%= form.submit "Submit", :id=>'client-submit', class: "btn btn-dark" %>
    <% end %>
</div>