<h2>New Client</h2>
<%= form_for @client, local: true do |form| %>
    <div class="row form-group">
        <div class="col">
            <label>First Name: </label>
            <%= form.text_field :first_name, placeholder: "First Name", class: 'form-control form-control-lg' %>
        </div>
        <div class="col">
            <label>Last Name: </label>
            <%= form.text_field :last_name, placeholder: "First Name", class: 'form-control form-control-lg' %>
        </div>
    </div>
    <div class="form-group">
        <label>Address: </label>
        <%= form.text_field :address, placeholder: "Address", class: "form-control form-control-lg" %>
    </div>
    <div class="form-group">
        <label>Email: </label>
        <%= form.email_field :email, placeholder: "Email", class: "form-control form-control-lg" %>
    </div>
    <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-dark" %>
<% end %>