<div class="shift-card">
  <div class="shift-card-body align-middle">
    <div class="close-container" id="close-tab">&times;</div>
    <p class="card-title"><span class="date-code"><%= @shift.date.strftime("%m/%d") %></span> <%= @shift.user.full_name%></p>
    <p class="card-text"><strong>Client: </strong><%= @shift.client.full_name %><br>
    <strong>Start: </strong><%= @shift.start_time.strftime("%I:%M %p") %><br>
    <strong>End: </strong><%= @shift.end_time.strftime("%I:%M %p") %><br>
    <strong>Total Hours: </strong><%= @shift.time_elapsed %></p>
    <% if has_role?("Admin") || has_role?("Foreman") %>
    <%= link_to 'Edit', edit_shift_path, remote: true, class: "btn btn-sm btn-success" %>
    <% end %>
    <%= link_to 'Delete', shift_path, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
  <div class="shift-image-container">
    <% if @shift.client.house_pic.attached? %>
    <%= image_tag @shift.client.house_pic, options = {width: "100%"} %>
    <% else %>
      <%= image_tag "home_placeholder.png", class: "home-placeholder"%>
    <% end %>
  </div>
</div>

