<div class="shift-card">
  <div class="shift-card-body align-middle">
    <div class="close-container"><a class="close-x">&times;</a></div>
    <p class="card-title"><span class="date-code"><%= @shift.start_time.strftime("%m/%d") %></span> <%= @shift.user.full_name%></p>
    <hr class="my-2">
    <p class="card-text"><strong>Client: </strong><%= @shift.client.full_name %><br>
    <strong>Start: </strong><%= @shift.start_time.strftime("%I:%M %p") %><br>
    <strong>End: </strong><%= @shift.end_time.strftime("%I:%M %p") %><br>
    <strong>Total Hours: </strong><%= @shift.time_elapsed %></p>

    <% if policy(@shift).update? %>
      <%= link_to 'Edit', edit_shift_path, remote: true, class: "btn btn-sm btn-success" %>
    <% end %>
    <%= link_to 'Delete', shift_path, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
  <div class="shift-image-container mt-2">
    <%= shift_house_pic_choice %>
  </div>
</div>

