<div>
    <h3> Shifts </h3>
    <table class="display table" id="datatable">
        <thead>
            <tr>
                <th>Client</th>
                <th>Employee #</th>
                <th>Hours</th>
                <th><%= link_to 'Add +', new_shift_path, remote: true, class: "btn btn-sm btn-success float-right" %></th>
            </tr>
        </thead>
        <tbody>
            <% @shifts.each do |s| %>
                <tr id='day-log-shift-<%= s.id %>'>
                    <td><%= s.client.address %></td>
                    <td><%= s.employee_count %></td>
                    <td><%= s.time_elapsed %></td>
                    <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, shift_path(s.id), remote: true, class: "btn btn-sm tablebtn btn-dark" %> | 
                    <%= link_to 'X', shift_path(s.id), method: :delete, data: { confirm: 'Are you sure? This cannot be reversed.' }, class: "btn btn-sm tablebtn btn-danger double-btn" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>