<%= form_for @shift do |form|%>
    <h2>Edit Shift</h2>
    <div class="form-group">
        <label>Client: </label>
        <%= collection_select(:shift, :client_id, Client.all, :id, :full_name, {}, {:class=>'form-control form-control-sm'}) %>
    </div>
    <div class="form-group">
        <label>Employee: </label>
        <%= collection_select(:shift, :user_id, User.all, :id, :full_name, {}, {:class=>'form-control form-control-sm'}) %>
    </div>
    <div class="form-group">
        <label>Start Time: </label>
        <%= form.datetime_field :start_time, placeholder: "Start Time", :id => 'start_time', class: "form-control form-control-sm" %>
    </div>
    <div class="form-group">
        <label>End Time: </label>
        <%= form.datetime_field :end_time, placeholder: "End Time", :id => 'end_time', class: "form-control form-control-sm" %>
    </div>
    <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-sm btn-dark" %>
<% end %>