<div id="active-shift-add">
    <div class="close-container"><a class="close-x">&times;</a></div>
    <h4>Add Hours</h4>
    <%= form_for @shift, remote: true do |form| %>
        <div class="form-group">
            <label>Client: </label>
            <%= collection_select(:shift, :client_id, Client.order('last_name ASC'), :id, :full_name, {}, {:class=>'form-control'}) %>
        </div>
        <%# if ("Admin") || has_role?("Foreman") %>
        <div class="form-group">
            <label>Employees: </label>
            <%= select_tag "shift[user_id]", options_from_collection_for_select(@users, "id", "full_name"), multiple: true, class: "form-control" %>
            <%# collection_select(:shift, :user_id, User.order('last_name ASC'), :id, :full_name, {}, {:class=>'form-control'}) %>
        </div>
        <%# else %>
            <div><%# form.hidden_field :user_id, value: current_user.id %></div>
        <%# end %>
        <div class="form-group">
            <label>Start Time: </label>
            <%= form.datetime_field :start_time, placeholder: "Start Time", :id => 'start_time', class: "form-control" %>
        </div>
        <div class="form-group">
            <label>End Time: </label>
            <%= form.datetime_field :end_time, placeholder: "End Time", :id => 'end_time', class: "form-control" %>
        </div>
        <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-dark" %>
    <% end %>
</div>

<script>
$(document).on("click", ".close-x", function(){
    $("#active-shift-add").remove();
    $("#add-form").css("display", "none")
    $("#calendar-container").show();
});
</script>