<%= month_calendar events: @shifts do |date, shifts| %>
  <%= date.day %>

  <% shifts.each do |shift| %>
    <a href="/shifts/<%=shift.id%>" data-remote="true" class="shift-check">
      <div class="shift-block">
        <%= shift.client.last_name %> (<%= shift.user.last_name %>)<br>
        Hours: <%= shift.time_elapsed %>
      </div>
    </a>
  <% end %>
<% end %>

<div id="add-form" style="display:none;">
</div>

<div id="shift-card-container" style="display:none;">
</div>

<script>
    $('a').click(function(e) {
        var target = $(e.target);
        if (target.context.attributes["class"].value.slice(0, 8) == "ajax-add") {
            var val = target.context.attributes["class"].value.slice(13)
            sessionStorage.setItem("date", val);
        };
        console.log(target);
    });
</script>