<div id="landing-options" class="d-flex flex-column align-items-center">
    <h2 class="greeting mt-3 mt-md-4">Welcome, <%= @user.full_name %></h2>
    <div class="container row d-flex justify-content-around">
        <div class="col-md-2 mx-md-2 col-5">
            <div class="landing-img">
                <a href="/shifts">
                <%= image_tag("calendar2.png", alt: "Calendar icon", id: "calendar-icon", class: "img-sizing") %>
                </a>
                <a href="/shifts"><h4>Log Hours</h4></a>
            </div>
        </div>

        <div class="col-md-2 col-5">
            <div class="landing-img">
                <a href="/users/<%= @user.id %>">
                <%= image_tag("profile.png", alt: "Profile icon", id: "calendar-icon", class: "img-sizing") %>
                </a>
                <a href="/users/<%= @user.id %>"><h4>My Profile</h4></a>
            </div>
        </div>

        <% if policy(@user).index? %>
        
        <div class="col-md-2 col-5">
            <div class="landing-img">
                <a href="/invoices">
                <%= image_tag("invoice-icon2.png", alt: "Invoice icon", class: "img-sizing") %>
                </a>
                <a href="/invoices"><h4>Invoices</h4></a>
            </div>
        </div>
        <div class="col-md-2 col-5">
            <div class="landing-img">
                <a href="/users">
                <%= image_tag("abstract-user-flat-2.svg", alt: "User icon", class: "img-sizing") %>
                </a>
                <a href="/users"><h4>Users</h4></a>
            </div>
        </div>
        <div class="col-md-2 col-5">
            <div class="landing-img">
                <a href="/clients">
                <%= image_tag("client.png", alt: "Clients icon", class: "img-sizing") %>
                </a>
                <a href="/clients"><h4>Clients</h4></a>
            </div>
        </div>
        <div class="col-md-2 col-5">
            <div class="landing-img">
                <a href="/materials">
                <%= image_tag("materials.svg", alt: "Materials icon", class: "img-sizing") %>
                </a>
                <a href="/materials"><h4>Materials</h4></a>
            </div>
        </div>
        <%end%>
    </div>
</div>