<%= form_for @material_date, remote: true do |form| %>
    <div class="form-group">
        <label>Client</label>
        <%= collection_select(:material_date, :client_id, client_shift_attach, :id, :address, {}, {:class=>'form-control'}) %>
    </div>
    <%= form.hidden_field :date, id: "date-hidden" %>
    <%# render partial: "material_sub", collection: @materials, as: :material %>
    <div class="form-group row">
        <h6 class="col-sm-3">Name</h6>
        <h6 class="col-sm-3">Quantity</h6>
        <h6 class="col-sm-3">Cost/Per</h6>
        <h6 class="col-sm-2">Charge</h6>
    </div>
    <% @materials.each do |m| %>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><%= m.name %></label>
            <input step="any" name="materials[<%=@materials.index(m)%>][quantity]" id="material-<%=m.id%>-quantity" class="form-control col-sm-2 mx-3">
            <input step="any" name="materials[<%=@materials.index(m)%>][cost]" placeholder="<%=m.cost%>" value="<%=m.cost%>" id="material-<%=m.id%>-cost" class="form-control col-sm-2 mx-3">
            <input step="any" name="materials[<%=@materials.index(m)%>][charge]" id="material-<%=m.id%>-charge" class="form-control col-sm-2 mx-3">
            <input type="hidden" name="materials[<%=@materials.index(m)%>][material_id]" id="material-<%=m.id%>-id" value="<%=m.id%>">
            <%# form.number_field name: [m.id][quantity], id: "material-#{m.id}-quantity", class: "form-control col-sm-4" %>
        </div>
    <% end %>
    <h4>Gastos/Contractos</h4>
    <button class="btn btn-sm btn-success" id="gastos-add-button">Add +</button>
    <div id="gastos-add"></div>
    <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-dark mt-2" %>
<% end %>