<%= form_for @material_date, remote: true do |form| %>
    <div class="form-group">
        <label><strong>Client</strong></label>
        <% if current_user.address_view %>
        <%= collection_select(:material_date, :client_id, client_shift_attach, :id, :address, {}, {:class=>'form-control'}) %>
        <% else %>
        <%= collection_select(:material_date, :client_id, client_shift_attach_names, :id, :full_name, {}, {:class=>'form-control'}) %>
        <% end %>    
    </div>
    <%= form.hidden_field :date, id: "date-hidden" %>
    <%# render partial: "material_sub", collection: @materials, as: :material %>
    <div class="form-group row">
        <h6 class="col-sm-3 d-none d-sm-block">Type</h6>
        <h6 class="col-sm-3 d-none d-sm-block">#</h6>
        <h6 class="col-sm-3 pl-0 d-none d-sm-block">Cost/Per</h6>
        <h6 class="col-sm-2 pl-0 d-none d-sm-block">Charge</h6>
    </div>
    <% @materials.each do |m| %>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><strong><%= m.name %></strong></label>
            <input type="number" step="any" name="materials[][quantity]" placeholder="Quant." value="0" id="material-<%=m.id%>-quantity" class="form-control col-sm-2 col-3 mx-2">
            <input step="any" name="materials[][cost]" placeholder="Cost" value="<%=m.cost%>" id="material-<%=m.id%>-cost" class="form-control col-sm-2 col-3 mx-2">
            <input step="any" name="materials[][charge]" placeholder="Charge" value="<%=m.cost%>" id="material-<%=m.id%>-charge" class="form-control col-3 mx-2">
            <input type="hidden" name="materials[][material_id]" id="material-<%=m.id%>-id" value="<%=m.id%>">
            <input type="hidden" name="materials[][description]" id="material-<%=m.id%>-description" value="*Priority">
            <input type="hidden" name="materials[][logging_id]" id="material-<%=m.id%>-logging" value="<%= current_user.id %>">
        </div>
    <% end %>
    <div>
        <h4 class="d-inline-block">Expenses/Contracts</h4>
        <div class="btn btn-sm btn-success float-right" id="gastos-add-button">+</div>
    <div>
    <div id="gastos-add"></div>
    <%= form.submit "Submit", :id=>'hours-submit', class: "btn btn-dark mt-2" %>
<% end %>

<div class="d-none" id="new_materials_form">
    <%= render partial: "blank_material_sub" %>
</div>