$("#active-material-attach").remove();
$("#tbody-material-<%= @material_date.invoice_date.id%>-total").before('<tr id="material-date-<%= @material_date.id %>"><td><%= @material_date.material.name %></td><td><%= number_to_currency(@material_date.material.cost) %></td><td><%= @material_date.quantity %></td><td><%= number_to_currency(@material_date.instant_total) %></td><td><%= link_to "Delete", material_date_path(@material_date), method: :delete, remote:true, data: { confirm: "Are you sure?" } %></td></tr>');
$("#tbody-material-<%= @material_date.invoice_date.id%>-total").empty().append("<%= j (render "invoice_dates/material_date", invoice_date: @invoice_date) %>");
$("#invoice-material-listings-<%= @material_date.invoice_date.id %>").show();
