<div id="invoice-form-container">
    <h2>Add Date</h2>
    <%= form_for [@invoice, @invoice_date], remote: true do |form| %>
        <div class="form-group">
            <label>Date: </label>
            <%= form.date_field :date, :value => Time.now.strftime("%Y-%m-%d"), class: "form-control" %>
        </div>
        <div><%= form.hidden_field :invoice_id, :value => @invoice.id, id: "invoice-id-fill" %></div>
        <div class="form-group">
            <label>Description: </label>
            <%= form.text_field :description, placeholder: "Short description of the day's work (optional)", class: "form-control" %>
        </div>
        <%= form.submit "Submit", :id=>'invoice-date-submit', class: "btn btn-dark" %>
    <% end %>
</div>