<tr id="shift-date-<%= shift_date.id %>">
    <td><%= shift_date.shift.user.full_name %></td>
    <td><%= shift_date.shift.time_elapsed %></td>
    <td><%= number_to_currency(shift_date.shift.earned) %></td>
    <td><%= link_to 'X', shift_date_path(shift_date),
        method: :delete, remote:true,
        data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
</tr>