<div class="mx-auto mt-3 active-mat" id="edit-material-<%=@material.id %>">
    <div class="close-container"><a class="close-x">&times;</a></div>
    <h3>Edit</h3>
    <%= form_for @material, remote: true do |form| %>
        <%= form_group_for form, :name, label: false do %>
            <label>Type: </label>
            <%= form.text_field :name, placeholder: "Enter material name", class: 'form-control form-control-sm'%>
        <% end%>
        <%= form_group_for form, :cost, label: false do %>
            <label>Cost: </label>
            <%= form.number_field :cost, placeholder: "Cost per unit", step: 0.01, class: 'form-control form-control-sm' %>
        <% end %>
        <div class="form-row mb-2">
            <label class="col-sm-2">Foreman Priority: </label>
            <%= form.check_box :foreman_priority, class: 'form-control col-sm-1' %>
        </div>
        <div class="form-row mb-2">
            <label class="col-sm-2">Designer Priority: </label>
            <%= form.check_box :designer_priority, class: 'form-control col-sm-1' %>
        </div>
        <%= form.submit "Submit", class: "btn btn-dark" %>
    <% end %>
    </div>
</div>