<div id="active-material-attach" class="active-mat mx-auto mt-3">
    <div class="close-container"><a class="close">&times;</a></div>
    <h3>Add New</h3>
    <%= form_for @material, remote: true do |form| %>
        <%= form_group_for form, :name, label: false do %>
            <label>Type: </label>
            <%= form.text_field :name, placeholder: "Enter material name", class: 'form-control form-control-sm'%>
        <% end%>
        <%= form_group_for form, :cost, label: false do %>
            <label>Cost: </label>
            <%= form.number_field :cost, placeholder: "Cost per unit", step: 0.01, class: 'form-control form-control-sm' %>
        <% end %>
        
        <%= form.submit "Submit", :id=>'materials-submit', class: "btn btn-dark" %>
    <% end %>
</div>

<script>
$(document).on("click", ".close", function(){
    $("#materials-add").empty();
    $("#materials-container").show();
});
</script>