<!DOCTYPE html>
<html>
  <head>
    <title>Harmonic Gardens</title>
    <meta name=“viewport” content=“width=device-width, initial-scale=1, shrink-to-fit=no”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  </head>

  <body>
    <div id="the-view">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Harmonic Gardens</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link ml-2" href="/invoices">Invoices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-2" href="/clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-2" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-2" href="/shifts">Timesheets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-2" href="/materials">Materials</a>
            </li>
          </ul>
          <%#<div class="nav-item my-2 my-sm-0"><%= link_to('Profile', user_path(current_user.id), {:class => "nav-link white-no-link"}) %><%#</div>%>
          <div class="nav-item my-2 my-sm-0"><%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "nav-link white-no-link") %></div>
        </div>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  </body>
</html>
